body {
    background-color: black;
}
/*  nav bar  */
.inline_block {
    display: inline-block;
    vertical-align: top;
}
nav {
    width: 100%;
    padding: 1%;
    align-content: left;
    
}
nav ul {
    width: 50%;
    margin-left: auto;
}
nav li {
    padding: 20px; 
    font-size: 25px;
    color: #E8DCD7;
    font-family: mostra-nuova, sans-serif;
}
.active {
    color: #84948c;
}
/*  hero image  */
.heroImg {
    height: 600px; 
    padding: 25px; 
}
.content {
    width: 500px; 
    margin: 0 auto; 
}
img {
    height: 300px;
    border-radius: 50%;
}
p {
    font-family: Roboto Condensed; 
    font-size: 18px; 
    color: #E8DCD7;
}
button {
    font-family: Roboto Condensed; 
    font-size: 18px; 
    background-color: #945d5e;
    color: white;
    border-radius: 8px; 
    border: none; 
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
button:hover {
    border: 2px solid #E8DCD7;
}
/*   footer   */
footer {
    background-color: #84948c;
    padding: 1%;
}
footer ul {
    width: 50%;
    margin-left: auto;
}
footer li {
    padding: 20px;
    font-size: 18px; 
    font-family: mostra-nuova, sans-serif;
    color: #2a2a2a;
}
