body {
    background-color: black;
}
/*  nav bar  */
.inline_block {
    display: inline-block;
    vertical-align: top;
}
nav {
    width: 100%;
    padding: 1%;
    align-content: left;
}
nav ul {
    width: 50%;
    margin-left: auto;
}
nav li {
    padding: 20px; 
    font-size: 25px;
    color: #E8DCD7;
    font-family: mostra-nuova, sans-serif;
}
.active {
    color: #84948c;
  }
/*  UX Skills section with CSS flex  */ 
.flexContainer {
    display: flex;
    flex-direction: row; 
}
.childcontain {
    width: 33%;
    height: 60%;
    border: 2px solid #84948c;
    padding: 10px; 
    margin: 15px;  
}
h3 {
    font-family: mostra-nuova, sans-serif; 
    font-size: 23px; 
    color: #E8DCD7; 
}
p {
    font-family: Roboto Condensed; 
    font-size: 18px; 
    color: #E8DCD7;
}
button {
    font-family: Roboto Condensed; 
    font-size: 18px; 
    background-color: #945d5e;
    color: white;
    border-radius: 8px; 
    border: none; 
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/*   footer   */
footer {
    position: fixed; 
    background-color: #84948c;
    padding: 1%;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer ul {
    width: 50%;
    margin-left: auto;
}
footer li {
    padding: 20px;
    font-size: 18px; 
    font-family: mostra-nuova, sans-serif;
    color: #2a2a2a;
}